h1{
  font-style: italic;
  text-align: center;
  
}
.Container1{
border-style: solid;
border-color: red;
}
.InitialSetup{
  width:min-content;
  border-style: dashed;
  border-color: saddlebrown;
}
.labels{
  display: flex;
  justify-content:last baseline;
  align-items: center;
}
.labelText {
  width:min-content;
}

.printChallenges {
  display: flex;
  justify-content: space-evenly;
}